*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
}

/* Layout CSS */

.hidden{
	display:none;
}

.stretcher{
	clear:both;
}


/*---------------Wadadli Image Selection---------------*/

.wadadliImageField .imageSelector{
	position: relative;
}

.wadadliImageField .imageSelector .imageMenuArea{
	position:absolute;
}

.wadadliImageField .imageSelector .imageUploadMenu{
	position:absolute;
}

.wadadliImageField .imageSelector .imageUploadMenu *{
	cursor:pointer;
}

.wadadliImageField .imageSelector .imageUpload{
	overflow: hidden;
}

.wadadliImageField .imageSelector input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}


/*---------------Wadadli Rating Stars---------------*/
.wadadliRatingStars img{
	width:15px;
	height:15px;
	cursor:pointer;
}

/*-------------- Wadadli Image Previews ------------*/
.wadadliImageField .imagePreview{
	background-color:#252525;
	text-align:center;
}